<div class="wrapper" *ngIf="photo; else noPhoto" (click)="handleClick($event)">
  <app-working [show]="working"></app-working>

  <p *ngIf="error" class="error">
    {{error}}
  </p>

  <ng-container *ngIf="loaded">
  
  <img [src]="src" [alt]="photo.alt" class="block"/>
  <cite class="block text-sm">
    by: 
    <span class="font-semibold">
      {{photo?.username}}
    </span>
    <span class="px-4" *ngIf="photo?.photographer?.location && detailed">
      (located in {{photo?.photographer?.location}})
    </span>
  </cite>
  <div class="text-sm" *ngIf="detailed">
    <p>
      {{photo?.description}}
    </p>
    <p *ngIf="photo?.location">
      <span class="font-semibold">location: </span>
      {{photo?.location?.city}}, {{photo?.location?.country}}
    </p>
    <p *ngIf="photo?.tags" class="flex flex-wrap items-center">
      <span class="font-semibold">tags:</span>
      <span class="my-2 mx-2 py-1 px-1 border-2 border-slate-200" *ngFor="let tag of photo.tags">{{tag}}</span>
    </p>
  </div>
  
  <div class="more-wrapper" (click)="showMoreModal = true" *ngIf="more">
    <img src="../../../../../assets/icons/more.png" alt="three dots indicating more"/>
  </div>

  </ng-container>

</div>

<app-modal [open]="showMoreModal" title="Photo Details" (dismissed)="showMoreModal = false">
  <div class="details">
    <h2>Details</h2>
    <section *ngIf="photo?.photographer">
      <h3><span>Photographer</span></h3>
      <p><strong>Name:</strong> {{photo?.photographer?.name || 'n/a'}}</p>
      <p><strong>Unsplash Username:</strong> {{photo?.photographer?.username || photo?.username}}</p>
      <p><strong>Location:</strong> {{photo?.photographer?.location || "n/a"}}</p>
      <p *ngIf="photo?.photographer?.bio">
        <strong>Bio</strong>
        <br>
        {{photo?.photographer?.bio}}
      </p>
      <div class="actions my-4">
        <a [href]="photo?.photographer?.link" target="unsplash" class="btn">View More Photos</a>
        <a [href]="photo?.photographer?.portfolio" *ngIf="photo?.photographer?.portfolio" target="unsplash" class="btn">Photographer's Site</a>
      </div>
    </section>
    <section>
      <h3><span>Meta Information</span></h3>
      <p><strong>Created/Published:</strong> {{photo?.published | mDate}}</p>
      <p><strong>Description:</strong> {{photo?.description || photo?.alt || 'n/a'}}</p>
      <p><strong>Location: </strong>
        <ng-container *ngIf="photo?.location?.city; else na">
          {{photo?.location?.city}}, {{photo?.location?.country}}
        </ng-container>
      </p>
      <p><strong>Color: </strong> 
        <ng-container *ngIf="photo?.color; else na">
          <span class="inline-block w-6 h-6" [style.background]="photo?.color || 'white'"></span>
          {{photo?.color}}
        </ng-container>
        
      </p>
      <p class="flex flex-wrap items-center"><strong>Tags:</strong> 
        <span class="badge" *ngFor="let item of photo?.tags || []">{{item}}</span>
      </p>
      <p class="flex flex-wrap items-center"><strong>Topics:</strong> 
        <span class="badge" *ngFor="let item of photo?.topics || []">{{item}}</span>
      </p>
    </section>
  </div>
  
</app-modal>

<ng-template #noPhoto>
  <div class="error">no photo</div>
</ng-template>
<ng-template #noPhotographer>
  <span class="error">un-sourced</span>
</ng-template>
<ng-template #na>n/a</ng-template>