<header class="primary">
  <div class="inner primary-container">
    <nav class="lg-screen">
      <a [routerLink]="['']" class="brand grow">{{brand}}</a>
      <a [routerLink]="['game']" routerLinkActive="active">The Game</a>
      <a [routerLink]="['about']" routerLinkActive="active">About</a>
      <app-auth-menu-combo></app-auth-menu-combo>
    </nav>
    <nav class="sm-screen">
      <a [routerLink]="['']" class="brand grow">{{brand}}</a>
      <button type="button" (click)="togglePopup()">
        <img src="./assets/icons/menu.png" alt="menu icon"/>
      </button>
    </nav>  
    <div class="popup" *ngIf="popupOpen">
      <nav class="m-2">
        <span class="flex p-2 mx-2 border-b-2 w-full">
          <button type="button" class="px-2 bg-slate-50 rounded" (click)="togglePopup()">
            &times;
          </button>  
          <span class="flex-1">Menu</span>
        </span>
        <a (click)="togglePopup()" [routerLink]="['game']" routerLinkActive="active">The Game</a>
        <a (click)="togglePopup()" [routerLink]="['about']" routerLinkActive="active">About</a>
        <div class="divider"></div>
        <app-auth-menu-combo mode="text" (activated)="togglePopup()"></app-auth-menu-combo>
      </nav>
    </div>
  </div>
</header>