<ng-container *ngIf="game">

  <div class="guess-wrapper flex items-center" *ngFor="let item of guesses; index as i">
    <span class="font-mono text-slate-400 text-2xl mx-4">{{i + 1}}</span>
    <app-letter-word-guess [guess]="item" [mode]="mode"></app-letter-word-guess>
  </div>
  
  <div class="guess-wrapper">
    <input type="text" #input (keydown)="normalize($event)" [disabled]="game.done"/>
    <button class="btn btn-small" 
      [disabled]="game.done"
      (click)="guess(input)">Check</button>
  </div>
</ng-container>

