<h1>The Game</h1>
<app-working [working$]="working$"></app-working>
<p>
  <a [routerLink]="['/game', 'unsplash']">Unsplash Game</a>
</p>
<p>
  <a [routerLink]="['/game', 'three-letter-word']">Three Letter Word Game</a>
</p>

<div class="flex">
  <div class="field" appFormField>
    <label>Process</label>
    <input type="text" #ids id="ids">
  </div>
  <div class="field" appFormField>
    <label>Award Category</label>
    <input type="text" #category id="category">
  </div>
  <div class="field" appFormField>
    <label>Year</label>
    <input type="text" #year id="year" value="2020">
  </div>      
</div>
<div class="actions">
  <button class="btn" (click)="process(ids.value)">PATCH FIELDS</button>
  <button class="btn" (click)="addToImpact(ids.value)">ADD TOPIC</button>
  <button class="btn" (click)="getPhotoJsonAndPost(ids.value, category.value, year.value)">CREATE PHOTO</button>
</div>

<hr>


<div>
  <textarea #blob rows="20" class="block w-full border-2"></textarea>
</div>
<div class="actions">
  <button class="btn" (click)="post(blob.value)">GO</button>
</div>


<div class="field" appFormField>
  <label>Search</label>
  <input type="text" #query id="query">
</div>
<div class="actions">
  <button class="btn" (click)="search(query.value)">GO</button>
</div>

<hr>

<ng-container *ngIf="{ results: results$ | async, selected: selected$ | async } as obs">

  <div class="wrapper" *ngIf="obs.results">
    <ng-container *ngIf="!error; else showError">
      <h3>{{obs.results.total}} Results for <code>{{obs.results.query}}</code></h3>
      <div class="flex flex-wrap">
        <app-game-photo 
          [photo]="photo" 
          class="my-2 mx-4 border-2 cursor-pointer"
          (tap)="showDetails($event)"
          *ngFor="let photo of obs.results.results">
        </app-game-photo>
      </div>  
    </ng-container>
  </div>
  <app-modal [open]="!!obs.selected" [title]="obs.selected?.id" (dismissed)="hideDetails()" >
    <app-game-photo [photo]="obs.selected" size="small" [detailed]="true"></app-game-photo>
  </app-modal>

</ng-container>

<ng-template #showError>
  <div class="error">
    <strong>Oops!</strong>
    <br>
    {{error}}
  </div>
</ng-template>

