
.grow-box {
  transform: scale(0);
  transform-origin: top;
}
.grow-box.open {
animation: grow 0.7s ease-in-out forwards;
}

.eg-word {
  @apply font-mono font-bold text-xl inline-block px-1 border-b-4 border-retro-blue-400;
}