<h1>The <strong>Four</strong> Letter Word Game</h1>


<div class="instructions my-4">
  <h3>Instructions</h3>
  <p class="text-lg">
    The <em>Four-Letter Word Game</em> asks you to try to guess a four-letter word.
    You guess and we tell you how many letters are correct.  By <em>correct</em>, 
    we mean that the letters are in the word.  They may or may <em>not</em> be 
    in the correct location.  When you get the word correct - YOU WIN!
  </p>
  <div class="grow-box" *ngIf="showDetailedInstructions" [class.open]="showDetailedInstructions">
    <p>
      In this game, you try to guess our secretly chosen 4-letter word.  After each
      guess, we will tell you how many of the letters you got correct. 
      We don't let you know if these <em>correct</em> letters are in the right 
      place and we don't even tell you which of the letters is <em>correct</em>. 
    </p>
    <p>
      Let's do an example:  if our word is <span class="eg-word">NICE</span>
    </p>
    
    <ol class="list-decimal px-4 m-4">
      <li>Your Guess: <span class="eg-word">BAND</span> - Our Response: 0 found</li>
      <li>Your Guess: <span class="eg-word">ROPE</span> - Our Response: 1 found</li>
      <li>Your Guess: <span class="eg-word">IDEA</span> - Our Response: 2 found</li>
      <li>Your Guess: <span class="eg-word">NICE</span> - Our Response: YOU WIN!</li>
    </ol>

    <p>
      If you guess a word that is not in our list, we will not "score" it.  Our list is big, 
      but there is a chance that a valid word might not be in our list.  Sorry about that,
      but "them the breaks".
    </p>
  </div>  
  <div>
    <button class="btn btn-sm" (click)="showDetailedInstructions = !showDetailedInstructions">
      {{showDetailedInstructions ? "show less..." : "show more..."}}
    </button>
  </div>
</div>

<ng-container *ngIf="game$ | async as game">
  <ng-container *ngIf="game; else noGame">

    <h2 class="mb-4">Let's Play</h2>

    <app-letter-word-game [game]="game" (winner)="setWinner($event)"></app-letter-word-game>

    <div class="actions" *ngIf="winningGame">
      <button class="btn btn-primary" (click)="reset()">Play Again</button>
      <button class="btn" [routerLink]="['/game', 'three-letter-word']">Play 3-Letter</button>
      <button class="btn" [routerLink]="['/game', 'five-letter-word']">Play 5-Letter</button>
    </div>
  </ng-container>
  
</ng-container>

<ng-template #noGame>
  <div class="error">Oops. We could not create a game for you.</div>
</ng-template>

<app-modal [open]="!!winningGame" title="You are a Winner!">
  <h2>Congratulations</h2>
  <ng-container *ngIf="!!winningGame">
    <p><strong>Excellent.</strong>
      <br>
      You figured out the 
      {{winningGame.word.length}} letter word:
      <br> 
      <span class="text-2xl inline-block p-4 text-amber-600 font-bold font-mono">
        {{winningGame.word}}
      </span>
      <br>
      And it only took you {{winningGame.count}} guesses!
    </p>
  </ng-container>
  
</app-modal>


