<h1>Logon</h1>

<div class="content" *ngIf="{ working: working$ | async } as obs">

  <form class="a-form" 
    (submit)="submitLogin()" 
    [formGroup]="loginForm">
    <div class="field" appFormField>
      <label>Email</label>
      <input placeholder="Email Address" formControlName="email" required/>
      <app-input-error [control]="getCtrl('email')"></app-input-error>
    </div>

    <div class="field" appFormField>
      <label>Password</label>
      <input type="password" placeholder="Password" formControlName="password" required/>
      <app-input-error [control]="getCtrl('password')"></app-input-error>
    </div>

    <div class="field" appFormField>
      <label>Code</label>
      <input type="password" placeholder="Code" formControlName="code" required/>
      <app-input-error [control]="getCtrl('code')"></app-input-error>
    </div>

    <div *ngIf="loginError" class="error-message">
      {{ loginError.message }}
    </div>

    <div class="actions">
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid || (obs.working)">
          <app-button-spinner-wrapper [working]="obs.working === true" [buttonText]="'Login'" style="width: 100%;">
          </app-button-spinner-wrapper>
        </button>
        <button [routerLink]="['']" class="btn btn-cancel">
          Cancel
        </button>
      </div>
      <div>
        <button class="btn font-sm">
          FORGOT PASSWORD
        </button>
      </div>
    </div>
  </form>

</div>
