@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  @apply font-sans text-lg antialiased text-slate-500;
}
body::before {
  content: '';
  background-image: url(assets/images/boxes.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0; right: 0;
  height: 50vh;
  opacity: 0.35;

  @apply bg-center sm:bg-right-top w-3/5 sm:w-1/2;
}

section {
  @apply my-6;
}

p {
  @apply my-4;
}

a {
  @apply text-rose-400 no-underline;
}

h1 {
  @apply text-3xl text-blue-400;
}
h2 {
  @apply text-2xl text-red-700;
}
h3 {
  @apply text-xl text-blue-200 uppercase mb-2 mt-4;
}

.primary-container {
  @apply container mx-auto my-2 relative overflow-hidden;
}

pre {
  @apply overflow-auto;
}

.divider {
  @apply block h-1 w-full my-2 bg-slate-400;
}

.btn {
  @apply bg-transparent 
    hover:bg-retro-blue-500 text-retro-blue-800 
    font-semibold  
    hover:text-white 
    py-2 px-4 border 
    border-retro-blue-500 hover:border-transparent rounded;

  transition: background-color .7s ease;
}
.btn:disabled {
  @apply opacity-40 cursor-not-allowed;
}
.btn-text {
  @apply border-0 py-1 px-2;
}
.btn-sm {
  @apply text-sm py-1 px-2;
}
.btn-primary {
  @apply bg-retro-blue-500
    hover:bg-retro-blue-800
    border-retro-blue-800;
}

.btn-accent {
  @apply bg-orange-300 text-orange-800
    hover:bg-orange-600
    border-orange-800;
}

.btn-light {
  @apply bg-slate-200 text-slate-600
    hover:bg-slate-500
    border-slate-600;
}

.btn-cancel {
  @apply bg-slate-600 text-slate-100
    hover:bg-slate-200 hover:text-slate-600
    border-slate-100;
}

.btn-transparent {
  @apply bg-transparent;
}


pre, code {
  @apply font-mono;
}
code {
  @apply inline-block py-1 px-2 bg-slate-100 text-red-800 rounded;
}

pre.usage {
  @apply bg-slate-50 border-2 border-blue-300 py-2 px-2;
}


.a-form {
  @apply my-4;
}
.field {
  @apply my-4 w-full max-w-md;
}
.field.full {
  @apply max-w-max;
}
.field > * { 
  @apply block w-full;
}
.field label {
  @apply text-sm text-slate-400 cursor-pointer;
}
.field input {
  @apply bg-transparent border-0 border-b-2 border-slate-400 rounded pt-4 pb-2 px-4;
}

.field.collapse label {
  transform: translate(0.5em, 0.5em);
  @apply text-slate-700 py-4;
}
.field.collapse input {
  @apply h-0 py-0;
}
.field:not(.collapse) input {
  @apply bg-slate-100;
}
.field input:focus {
  @apply outline-1 outline-slate-500;
}

input.ng-invalid:not(.ng-pristine) {
  @apply bg-red-100;
}

.actions {
  @apply w-full my-6 flex justify-start items-center;
}
.actions.column {
  @apply flex-col items-start;
}
.actions.right {
  @apply justify-end;
}
.actions.center {
  @apply justify-center;
}
.actions > * {
  @apply mx-4;
}
.actions.column > * {
  @apply my-1;
}
.actions.tight > * {
  @apply mx-2;
}



@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}